body {
    background-color: #BF6F40;
    background-size: auto;
    background-repeat: repeat;
}
#templatemo_menu {
    clear: both;
    /*width: 1070px;*/
    height: fill-available;
    border-radius: 10%; 
    text-align: center;
        background-color: #2E120F;
    margin: 0 auto;
   /* box-shadow: 0 0 20px #f47f10; */ 
    margin-bottom: 1%;
}

#templatemo_menu ul {
    /*width: 1070px;*/
    display: inline-block; /* Добавлено */
    height: fill-available;
    margin: 0 auto;
    padding: 7px 40px;
    list-style: none;
    text-align: center;
}

#templatemo_menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
    text-align: center;
}

#templatemo_menu ul li a {
text-align: center;
    float: left;
    display: block;
    margin-right: 40px;
    font-size: 150%;
    text-decoration: none;
    color: #fff;
    text-shadow: #383838 0 0 2px;    
    font-weight: normal;
    outline: none;
    font-weight:bold;
}
#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
    color: #162127;
}

div.logo img 
{
   
  height: 100%;
  padding-left: 7%;
  position: absolute;
}

div.title
{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 5vw;
    padding-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    
}
div.title a 
{
    text-decoration: none;
        text-shadow: 0 0 5px #f89e5b;
    color: #47448b;
    text-shadow: 0 0 5px #BF6F40;
    
}
div.all
{
    height: 200%;
    width: 90%;
    background-color: #C9925E;
    height: 5vw;;
    position: fixed;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 5px #DABB90; 
}

div.news
{
    text-align: center;
    font-size: 1.7vw;
    line-height: 190%;
    margin-top: 11%;
    padding-left: 1%;
    height: 16vw;;
    width: 100%;
    background-color: #DABB90;
    box-shadow: 0 0 5px #f89e5b; 
    position: inherit;
    overflow: auto;
    color: #1a245d;
    
}

div.news ul
{
display: table;
margin: 0 auto;

}

div.news ul:: before
{
    padding-right: 5px;
}

div.news li 
{
margin-bottom: 0.5vw;
margin-top: 0.5vw;
list-style: none; /* Скрываем маркеры списка */
    text-indent: -1em; /* Сдвигаем элементы списка влево */
}

div.news li::before
{
content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: red; /* Маркеры красного цвета */
}
div.news h3
{
    color: #fff;
    text-shadow: #DABB90 0 0 2px;
    font-size: 2.5vw;
    margin-bottom: 0;
}

footer 
{
    font-size: 1.3vw;
    position: fixed;
    left: 0; bottom: 0; 
    padding: 10px; 
    background-color: #080403;
    color: #fff; 
    width: 100%; 
   }

